<%- include('../partials/header') %>

<p>Please first ensure that the Flyer is not in the dropdown
  <select>
    <% flyers.forEach((f) => { %>
      <option>
        <%= f.name %> from (<%= f.airport %>)
      </option>
    <% }) %>
  </select>
</p>
<form id="add-flyer-form" action="/flyers" method="POST">
  <label>Name:</label>
  <input type="text" name="name">

  <label>Departure Date:</label>
  <input type="datetime-local" name="departs">

  <input class="btn" type="submit" value="Add Flyer">
</form>

<%- include('../partials/footer') %>